
.editbox

{

display:none

}

td

{

padding:7px;

}

body

{

font-family:Arial, Helvetica, sans-serif;

font-size:14px;

}

.editbox

{

font-size:14px;

width:270px;

background-color:#ffffcc;



border:solid 1px #000;

padding:4px;

}

.edit_td:hover

{

background:url(resources/img/edit.png) right no-repeat #80C8E5;

cursor:pointer;

}





th

{

font-weight:bold;

text-align:left;

padding:4px;

}

.head

{

background-color:#333;

color:#FFFFFF



}

 .shade

{

box-shadow:0px 0px 18px #000000;

-moz-box-shadow:0px 0px 18px #000000;

-webkit-box-shadow:0px 0px 18px #000000;

border-radius: 8px;-moz-border-radius: 8px; -webkit-border-radius: 8px;

}



